.services-card:hover {
  background-color: #fff;
  border: none;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
}

.services-container {
  margin-top: 90px;
  margin-bottom: 160px;
}

.services-container div > a {
  color: #000;
}

.services-container div > a:hover {
  text-decoration: none;
}