.carousel-img {
  width: 468px;
  height: 336px;
  border-radius: 10px;
  padding: 20px;
}

.alice-carousel,
.carousel-section {
  background-color: #111430;
}

.carousel-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: center;
  height: 700px;
}

.item {
  height: 400px;
  padding: 2px;
  /* background-color: #111430; */
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .carousel-img {
    width: 93%;
    height: 336px;
    border-radius: 10px;
  }
}

@media (max-width: 576px) {
  .carousel-img {
    width: 93%;
    height: 330px;
    border-radius: 10px;
  }
}